<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Friends</title>
    <meta name="description" content="Coding Dojo, Python II, Django II, travel">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_reg/css/style.css' %}">
  </head>
  <body>
    <div class="container">
      <nav>
        <a class="btn btn-link" href="{% url 'login_reg:logout' %}" role="button">Logout</a>
        <a class="btn btn-link" href="{% url 'friends:index' %}" role="button">Home</a>
      </nav>
      <header class="page-header">
        <h1>{{ user.alias }}'s Profile</h1>
      </header>

      {{ thisUser.id }} {{ thisUser.name }}

      <section>
        <h4>Name: {{ user.name }}</h4>
        <h4>Email Address: {{ user.email }}</h4>
      </section>
    </div>
  </body>
</html>
